form(action="", METHOD="POST")
  label(for="title") Name of the Meme
  br
  input(name="title", type="text", placeholder="enter the title of the meme")
  br
  label(for="link") Link to the meme
  br
  input(name="link", type="text", placeholder="enter the link to the meme")
  br
  input(type="submit")